/.idea
/.ipynb_checkpoints
/.git
/__pycache__
/grid_results
/log
/models
/models_test
/old
/top_scores
/z_Server
/lib/__pycache__
/grid_results/__pycache__
/top_scores/__pycache__
lib/messages_fun.py
10_Metric_comparison.ipynb
11_XGBoost_clf.ipynb
../Farmacoinformatica-2022/05_Sesion-V/pruebas.py
pruebas.ipynb
xx_Summary.ipynb
xx_test_models_grid_results.ipynb
xx_test_models_top_socres.ipynb
GPU0_main.py
GPU1_main.py
/predictor
/BD_dataweb
